.nav-item a {
    background-color: #ffffff !important;
    color: black !important;
    margin: 10px;
}

.nav-icon {
    float: left;
    font-size: 48px;
    margin-top: 5px;
    margin-left: 10px;
    color: #121;
    text-decoration: none;
}

.menu-button {
    display: inline-block;
    float: right;
}